input{

    background-color: #6272A4;
    color: #dadfa5;
    width: 150px;
    height: 30px;
    border-radius: 7px;
    outline: none;
    border: none;
    -webkit-box-shadow: 0px 2px 102px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 102px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 102px 0px rgba(0,0,0,0.75);
    padding: 20px;

}

input::placeholder{

    color: #b8b9ae;
    padding: 20px;
}

button{

    color: #F1FA8C;
    -webkit-box-shadow: 0px 2px 102px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 102px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 102px 0px rgba(0,0,0,0.75);
}

.yellow{

    color: #F1FA8C;


}

.load{

    width: 50px;
    margin-left: auto;
    animation: gira 1s linear infinite;
    
}

::-webkit-scrollbar {
    width: 0px;
}

pre{

    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: #F1FA8C;

    
}

@keyframes gira {

    0%{
        transform: rotate(0deg);
    }

    99%{

        transform: rotate(-359deg);
    }
}